.unsubscribePage-div {
  padding: 0px 10px;
  max-width: 700px;
  width: 100%;
  margin: 0px auto;
}

.nav-bar {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.nav-bar a {
  text-decoration: none;
  margin-right: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1px 5px;
  font-size: 15px;
  cursor: pointer;
}

.nav-bar a.active {
  border: 1px solid transparent;
  background-color: #0084ff;
  color: #fff;
  font-weight: 400;
}

.nav-bar a:hover {
  border: 1px solid transparent;
  background-color: #0084ff;
  color: #fff;
  font-weight: 400;
}
